# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Database
*.db
*.sqlite3

# Environment variables
.env
.venv

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo